<html>
<head>
	
	<link rel="stylesheet"  type="text/css"  href="{{ url_for('static', filename='styles/styling.css') }}" />
</head>

<script>
  var destlink=link;
  function gotodest(){
    l='{{ link }}';
    window.open(l);
  }

</script>
<body>

    
<div class="topnav">
  <a >Smart Fridge</a>
  <div class="topnav-right">
    <a href="#about">About Us</a>
    <a href="#signin">Sign-In</a>
  </div>
</div>

<div class="card">
  <img src="{{ url_for('static', filename='2.jpg')}}" alt="Avatar" width="100%">
  <div class="container">
    <h3><b>{{ name }}- {{ data }}</b></h3>
    

      
      <form>
      <input type="button" value="Buy" class="button" onclick="gotodest()"> 
      </form>
  </div>
</div>
</body>	
</html>